.mycourse input{
    width: 40%;
}
.mycourse select{
    padding: 8px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left:10px;
}
.mycourse-search-btn{
    padding: 10px 20px;
}
.mycourse-div{
    color:white;
    /* width: 1500px; */
    /* text-align: left; */

}
.mycourse-hr-heading{
    margin: 0px 15px;
    width: 800px;
    background-color:white ;
    border-top:5px solid white;
}
.mycourse-bottom{
    overflow: hidden;
}
.mycourse-course-list{
    margin-left: 5%;
}
